
h1, h2, h3, h4, h5{
	color:#4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

section {
	width:100%;
  margin: 40px 0;
	padding: 0 5%;
}

.section-heading {
	text-transform: uppercase;
  font-size: 1.6em;
}

hr {
	max-width:300px;
}


.navbar.navbar-default {
	background: none;
	border: none; 
  z-index: 1;
}

/*.email {
	background: white;
  border: 0;
  box-shadow: 0 3px 6px 3px #b5b5b5;
  padding: 10px 15px;
  transition: all 0.25s ease;
}

.email .glyphicon {
	margin-right:5px;
}*/

.navbar-default .navbar-text {
	color:white;
}


.row-header {
  padding: 10vh 10vw 0 10vw;
  background-image: url('https://images.unsplash.com/photo-1491962848787-57877fa19dc8?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-bottom:100px;
  display: flex;
  align-items: center
}

.row-header h1 {
	color: white;
}

.header-col {
	position: relative;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.18);
  bottom: -60px;
  padding: 50px 0;
  max-width:400px;
  margin:auto;
}


.profile-pic {
	border-radius:50%;
	width:40%;
	max-width: 200px;
}

.project-img-col img {
	max-width: 250px;
  margin: auto;
}


.list-container {
  max-width: 600px;
  margin: auto;
}

.techlogo {
	width:140px;
}

.tech-item span{
	color: grey;
	margin-left:10px;
}

.row-footer {
	padding: 0vh 10vw 10vw 10vw;
	margin-top:100px;
	background-image: url('https://images.unsplash.com/photo-1491962848787-57877fa19dc8?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer-col {
	position: relative;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.18);
  top: -60px;
  padding: 50px 0;
  max-width:400px;
  margin:auto;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
	border:0;
}

.linkedin-btn {
	background-color: white;
	width:140px;
	box-shadow: 0px 2px 5px 1px lightgrey;
	padding: 12px;
	border-radius: 5px;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}