
h1, h2, h3, h4, h5{
	color:#4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

section {
	width:100%;
	margin-bottom:100px;
	padding: 0 5%;
}


.navbar.navbar-default {
	background: none;
	border: none; 
  z-index: 1;
}

.email {
	color: white;
}

.navbar-default .navbar-text {
	color:white;
}


.row-header {
  min-height: 70vh;
  padding: 10vh 10vw 0 10vw;
  background-image: url('../img/theme-titanium/headerbg-sharp.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.row-header h1 {
	color: white;
}


.profile-pic {
	border-radius:50%;
	width:40%;
	max-width: 200px;
	box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.14);
	min-width:200px;
}

.project-img-col img {
	max-width: 250px;
  margin: auto;
}


.list-container {
  max-width: 600px;
  margin: auto;
}

.tech-item {
	color: grey;
	margin-left:10px;
}

.row-footer {
	padding-top:100px;
	padding-bottom:100px;
	background-image: url('../img/theme-titanium/footerbg-sharp.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
	border:0;
}

.linkedin-btn {
	background-color: white;
	width:140px;
	box-shadow: 0px 2px 5px 1px lightgrey;
	padding: 12px;
	border-radius: 5px;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}